.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider-image {
    display: none;
    width: 100%;
    text-align: center;
}

.slider-image img {
    width: 100%;
    height: auto;
}

/* Dots nằm trong ảnh */
.slider-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    z-index: 10;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #fff;
}

.fade {
    animation: fadeEffect 0.5s ease-in-out;
}

@keyframes fadeEffect {
    from {opacity: 0.4}
    to {opacity: 1}
}
